

*,*:before,*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(0,0,33);
  color: white;
  font-family: 'Alkatra', cursive;
  font-family: 'Poppins', sans-serif;
}
nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li{
  list-style: none;
  margin: 0 23px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  text-decoration:underline;
  color: blueviolet;
}
main hr{
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;

}
.purple,#element{
  color: blueviolet;
}
nav .left{
  font-size: xx-large;
}
.firstSection .leftSection{
  margin-top:50px;
  font-size: 40px;
  align-items: left;
  padding-left: 250px;
  width:50%;
}
.firstSection .rightSection{
  margin-left:990px ; 
  margin-top:-170px;
}
.firstSection .rightSection img{
  width:230px;
  height: auto;
  left :100px;
  border-radius: 30px;;
}
.about{
  padding-left: 40px;
}
.about h1{
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
  background: linear-gradient(to left,
  hsl(304, 100%, 62%),
  hsl(0, 0%, 60%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about p{
  padding: 20px;
  font-size: 25px;
}
.contact{
  padding-left: 40px;
}
.contact h1{
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
  background: linear-gradient(to left,
  hsl(304, 100%, 62%),
  hsl(0, 0%, 60%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact .fa-brands{
  padding: 20px;
  font-size: 50px;
  color : white;
}
.popup{
  background-color: aliceblue;
  width:420px;
  padding:30px 40px;
  position: absolute;
  transform: translate(-50% ,-50%);
  left:50%;
  top:50%;
  border-radius: 10px;
  text-align: center;
  font-family: 'Alkatra', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Poppins', sans-serif;
  font-style:italic ;
  display: none;
}
#close{
  display: block;
  margin: 0 0 20px auto;
  background: transparent;
  font-size: 30px;
  border-radius: 100%;
  width: 40px;
  height:40px;
  border:none;
  outline:none;
  cursor: pointer;
  background:  rgb(37, 37, 255);
  color:white
}
.popup h1,h2{
  color:black;
} 
#next{
  border-radius:10px ;
  width:100px;
  height:40px;
  background: linear-gradient(to left,
  hsl(237, 100%, 50%),
  hsl(190, 100%, 50%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border:1px solid black;
  font-weight: 600;
}

@media screen and (max-width:600px) {
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(0,0,33);
    color: white;
    font-family: 'Alkatra', cursive;
    font-family: 'Poppins', sans-serif;
  }
  nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
  }
  nav ul{
    display: flex;
    justify-content: center;
  }
  nav ul li{
    list-style: none;
    margin: 0 20px;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover{
    text-decoration:underline;
    color: blueviolet;
  }
  main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
  
  }
  .purple,#element{
    color: blueviolet;
  }
  nav .left{
    margin-left: 25px;
    font-size: 17px;
  }
  .firstSection .leftSection{
    margin-top:-250px;
    font-size: 25px;
    align-items: left;
    margin-bottom: 500px;
    padding-top: 320px;
    padding-left: 50px;
    width:100%;
  }
  .firstSection .rightSection{
    margin-left:150px ; 
    margin-top:-470px;
  }
  .firstSection .rightSection img{
    width:230px;
    height: auto;
    margin-left :-100px;
    border-radius: 30px;;
  }
  hr{
    margin-top: 3000px;
  }
  .about{
    padding-top:100px;
    padding-left: 40px;
  }
  .about h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
    background: linear-gradient(to left,
    hsl(304, 100%, 62%),
    hsl(0, 0%, 60%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about p{
    padding: 20px;
    font-size: 20px;
    font-family: 'Alkatra', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Satisfy', cursive;
    font-style: italic;
  }
  .contact{
    padding-left: 40px;
  }
  .contact h1{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
    background: linear-gradient(to left,
    hsl(304, 100%, 62%),
    hsl(0, 0%, 60%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact .fa-brands{
    padding: 20px;
    font-size: 40px;
    color : white;
  }
  .popup{
    background-color: aliceblue;
    width:280px;
    padding:30px 40px;
    position: absolute;
    transform: translate(-50% ,-50%);
    left:50%;
    top:50%;
    border-radius: 10px;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-style:italic ;
    display: none;
  }
  #close{
    display: block;
    margin: 0 0 20px auto;
    background: transparent;
    font-size: 30px;
    border-radius: 100%;
    width: 40px;
    height:40px;
    border:none;
    outline:none;
    cursor: pointer;
    background:  rgb(37, 37, 255);
    color:white
  }
  .popup h1,h2{
    font-size: 16px;
    color:black;
  } 

}